.searchBox {
  font-family: var(--font-family);
  margin: 20px 20px;
  width: 300px;
  box-shadow: var(--main-box-shadow);
  padding: 20px;
  border: 1px solid #000;
  border-radius: var(--main-border-radius);
  font-size: 1rem;
  label {
    width: 100%;
  }
  input {
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #000;
    border-radius: 5px;
  }
}
