.container {
  min-width: 18rem;
  max-width: 20rem;
  padding: 0 1em;
  margin: 0 auto;
  border: 5px solid #1214170d;

  @media only screen and (min-width: 768px) {
    max-width: 48rem;
    padding: 0 2rem;
  }
  @media only screen and (min-width: 1280px) {
    max-width: 80rem;
    padding: 0 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 50rem;
    padding: 0 2rem;
    border: 5px solid #d2dc4a0d;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 80rem;
    padding: 0 2rem;
    border: 5px solid #0e66eb0d;
  }
}
