.dailyPicksContainer {
  text-align: center;
  justify-content: center;
}
.title {
  font-family: var(--font-family-2);
  font-weight: 300;
  color: #121417;
  margin-bottom: 1em;
}
.dailyList {
  --column-count: 1;
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  gap: 0.5rem;
  padding: 1em;
  max-width: 75em;
}
.dailyItem {
  text-align: center;
  max-width: 35rem;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  aspect-ratio: 8/4;
  overflow: hidden;
  align-items: center;
}
.imgContainer {
  max-width: 35rem;
  border-radius: 14px;
  overflow: hidden;
}
.dailyImg {
  width: 100%;
  object-fit: contain;
}
.dailyItem :hover {
  transform: offsetY(-4px) scale(1.02);
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.45s cubic-bezier(0, 0, 0.21, 1);
}

.dailyItem:hover .overlay {
  opacity: 1;
}

.overlayCont {
  justify-content: center;
  .make {
    font-family: var(--font-family-2);
    margin: 0;
    font-size: 2em;
    font-weight: 300;
    color: #efefefa0;
  }
  .rentalCompany {
    margin-bottom: 1em;
  }
}
@media screen and (min-width: 768px) {
  .dailyList {
    --column-count: 2;
  }
}
