.searchPanel {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  margin-bottom: 50px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #1214170d;
  border-radius: 10px;
}
.fromTo,
.fromToSelectors {
  display: flex;
}
.select,
.selectFrom {
  margin-top: 8px;
}

.label {
  color: #8a8a89;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

@media only screen and (min-width: 768px) {
  .searchPanel {
    gap: 18px;
  }

  .select,
  .selectFrom {
    margin-top: 8px;
  }
  .label {
    font-size: 14px;
    line-height: 18px;
  }
}
@media only screen and (min-width: 1280px) {
  .searchPanel {
    gap: 18px;
  }

  .select,
  .selectFrom {
    margin-top: 24px;
  }
  .label {
    font-size: 14px;
    line-height: 18px;
  }
}
