.searchPanel {
  display: flex;
  gap: 18px;
  margin-bottom: 50px;
  justify-content: center;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #1214170d;
  border-radius: 10px;
}
.fromTo {
  display: flex;
}

.fromToSelectors {
  display: flex;
}
