.navBar {
  display: flex;
  padding: 24px 24px;
  color: rgba(18, 20, 23, 0.5);
  font-family: var(--font-family-2);

  a {
    color: rgba(18, 20, 23, 0.5);
    text-decoration: none;
    margin-left: 1rem;
    padding: 24px;
  }
  a:hover {
    color: #3470ff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  }
}
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;

  align-items: center;
  color: rgba(18, 20, 23, 0.5);
}
.title {
  font-size: 34px;
  font-weight: 500;
  line-height: 32px;
  color: #121417;
  font-family: var(--font-family-2);
  /* margin: auto 200px; */
}
