.carsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.loadMoreBtn{
  color:#3470FF;

  padding: 10px 0;
  border: 1px solid transparent;
  border-radius: 12px;
  background-color: transparent;
  border: #3470FF solid 1px;
  
}