@import url('./css/fonts.css');
@import 'tailwindcss';
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);
@import 'flowbite/src/themes/default';

:root {
  --font-family: 'Inter', ui-sans-serif, system-ui;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --background: #fff;
  --font-size-desktop: 16px;
  --line-height: 1.5;
  --font-sans: 'Inter', ui-sans-serif, system-ui;
  --text-base: 1rem; /* 16px */
  --leading-normal: 1.5;
  --color-bg: #ffffff;
  --color-text: #101828;
  --dark-grey: #475467;
  --light-grey: #6c717b;
  --hover-red: #e44848;
  --red: #d84343;
  --yellow: #ffc531;
  --g1: #dadde1;
  --g2: #f2f4f7;
  --g3: #f7f7f7;
}

@theme default {
  --font-sans: Inter, ui-sans-serif, system-ui;

  --color-bg: #ffffff;
  --color-text: #101828;
  --color-dark-grey: #475467;
  --color-light-grey: #6c717b;
  --color-hover-red: #d84343;
  --color-red: #e44848;
  --color-yellow: #ffc531;
  --color-g1: #dadde1;
  --color-g2: #f2f4f7;
  --color-g3: #f7f7f7;
  --text-base: 1rem; /* 16px */
  --leading-normal: 1.5;
}
html header {
  background: var(--color-g3);
}
@layer base {
  body {
    @apply font-sans bg-bg text-text max-h-screen;
  }
  body header {
    border-bottom: 1px solid var(--color-g1);
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  a:hover {
    text-decoration: none;
  }
  button {
    cursor: pointer;
  }
}
