@import url('./css/fonts.css');
@import url('./css/reset.css');
:root {
  --main-border-radius: 0.875rem;
  --font-family-2: 'Montserrat', sans-serif;
  --font-family: 'Manrope', sans-serif;
  --background: '#fff';
}

body {
  font-family: var(--font-family);
  background-color: var(--background);
  color: #121417;
  font-size: 16px;
  line-height: 1.5;
}

button {
  font-family: var(--font-family);
  padding: 0.625rem 1.875rem;
  border: 1px solid transparent;
  border-radius: var(--main-border-radius);
  background-color: #0b44cd;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}
button:hover {
  background-color: #0b44cd;
  border-color: #0b44cd;
  color: #fff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  color: var(--white) !important;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}
